#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Modal Overlay */ 
.modal-overlay { 
position: fixed; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
background: rgba(0, 0, 0, 0.4); 
display: flex; 
justify-content: center; 
align-items: center; 
z-index: 999; 
} 
/* Modal Content */ 
.modal-content { 
background: #070606ff; 
padding: 6px; 
border-radius: 6px; 
width: 300px; 
}

.search-input {
  padding: 8px;
  width: 300px;
  height: 28px; 
  font-size: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.btn-edit {
  background-color: #646cff;
  margin: 4px;
}
.btn-delete {
  background-color: #ff6464;
  margin: 4px;
}
.btn-new {
  background-color: #56b6a0ff;
}
.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}